@import url('https://fonts.googleapis.com/css2?family=Galada&family=Potta+One&display=swap');

.registerpage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background: linear-gradient(135deg,  #09D8E2 50%, #21E1BC);
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #09D8E2;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: small;
    padding-left: 10px;
    color: #c8603d;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 15px;
    padding-top: 15px;
    text-align: center;
    color: #09D8E2;
}

.container {
    padding-top: 180px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom:130px;
    padding-left: 50px;
    padding-right: 50px;
    
    
  }
  
  .header {
    margin-bottom: 30px;
  }
  
  .formLabel {
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
  }
  
  .formControl {
    margin-bottom: 15px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
  }
  
  .formCheck {
    margin-bottom: 20px;
  }
  
  .submitButton {
    background-color: #727672;
    border-color: #747674;
    color: white;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .socialButton {
    margin-right: 10px;
  }
  
  .socialButton:last-child {
    margin-right: 0;
  }
  

.container {
    max-width: 800px; /* Adjust the max-width as needed */
  }
  
  .leftColumn {
    background-color: #21E1BC ;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: #727672 0 0 10px;
  }
  
  .rightColumn {
    background: white; 
    padding: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: #727672 0 0 10px;
  }
  

  .leftHeader {
    font-size: 50px; 
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: "Potta One", system-ui;
    font-weight: 600;
    font-style: normal;
    color: #fafafa;
    text-align: left;
    
  }
  
  .leftParagraph {
    font-size: 15px;
    line-height: 1.5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

  .social-login{
   
    font-style: italic;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
 
  .social-login .btn {
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    font-size: 13px;
    
  }
  
  .social-login .btn:last-child {
    margin-right: 0;
   
  }
  
  
  .form-control {
    border-radius: 10px; 
    border: 1px solid #ced4da; 
    
  }
  
  
  .btn1 {
    background-color: hsl(183, 92%, 46%); 
    border-color: #09D8E2;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:700;
    font-size: 13px;
    box-shadow: #727672 0 0 10px(0, 0, 0, 0.15);
    color: white;
  }
  
  
  .btn1:hover {
    background-color: #9ea6ae;
    border-color: #9ea6ae;
    color: white;
  }

  .btn3 {
    background-color: #ffffff; 
    border-color: #fafafa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:700;
    font-size: 13px;
    box-shadow: #727672 0 0 10px(0, 0, 0, 0.15);
    color: #21E1BC;
    border-radius: 20px;
  }

  .btn3:hover {
    background-color: #9ea6ae;
    border-color: #9ea6ae;
    color: white;
  }

  
  .form-label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
  }

  .form-check-label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
  }